<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>queryset</title>
</head>
<body>
    <h1>employee information</h1>
    <table border="solid 2px">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>emp_id</th>
            <th>address</th>
            <th>salary</th>
            <th>join_date</th>
            
        </tr>
    
         <tr>
            <td>{{employees.id}}</td> 
            <td> {{employees.name}}</td>
            <td>{{employees.age}}</td> 
            <td> {{employees.emp_id}}</td>
            <td> {{employees.address}}</td>
            <td> {{employees.salary}}</td>
            <td>{{employees.join_date}}</td>
    
 
    
        </tr>
    
</table>


    
</table>
</body>



